html, body {
    scroll-behavior: smooth;
}

.top-container {
    height: 90vh;
    text-align: center;
    background: #f7f7f9;
}

.jumbotron {
    position: relative;
    top: 20%;
}

.middle-container {
    padding-top: 10%;
}

.pricing {
    text-align: center;
    padding-bottom: 5%;
}

.bottom-container {
    padding: 10% 20%;

    /* background: #78C2AD; */
    background: #f7f7f9;
}

#output {
    font-size: 24px;
    text-align: center;
    padding-top: 10%;
}

.button-wrapper {
    text-align: center;
}

.submit:active, .submit:focus {
    outline: none;
    border: none;
}

footer {
    text-align: center;
    background: #78C2AD;
    color: #f7f7f9;
    padding: 2%;
}